<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Welcome to the project of course </h1>
<!--para la agregacion de un link, utilizando la tecnologia de thymelaft,
dentro de nuestra etiqueta a de html, agregamos la etiqueta th:href y dentro de las commillas
dado que es un link, nos apoyaremos de el @  y las {} algo similar a cuando
utilizamos el signo de $ y las mismas {} para agregar codigo java y logica dentro de nuestra
plantilla, finalamnete agregamos el path a donde queremos redirecionar-->
<a th:href="@{/add}">Add Person</a>

<div th:if="${people != null && !people.isEmpty()}">
<!--con la etiqueta th:if de thymeleaf podemos validar una condicional, para aplicar en base a si se cumple o no
la accion que queremos llevar a cabo, como por ejemplo en este caso dibujar nuestra tabla;
simplemente apoyandonos de la sintasis que ya conocemos ${} en ella mandamos a llamar el obejto que mandamos desde el controlador
y podemos aplicar codigo java dentro de esta sintaxis, como en este caso comparar si nuestro objeto es diferente de null y diferente de vacio-->

    <table border="1">
        <tr>
            <th>Name</th>
            <th>LastName</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="person : ${people}">
            <!--para realizar la iteracion sobre una collection que enviemos desde nuestro controllador,
            nos apoyamos de la etiqueta th:each de thymeleaf la cual nos permitira crear una varible que
            iterara sobre el objeto que enviamos desde el controlador, por cada uno de los elmentos que traiga nuestra
            collecion que enviamos donde de manera muy similar a un foreach normal en java, damos el nombre a la variable que
            iterara por cada elementoseparamos con : y utlizando la sintasix que ya conocemos de thymelaf para traer con la
            clave del obejto que enviamos del controlador recuperamos dicho objeto y enpezamos a relizar las acciones que necesitamos
            por cada iteracion que en este caso es la agregacion de las etiquetas td y en cada una utlizamos las etiquetas th:text de
            tymeleaf para llamar los atributos de nuestro objeto persona que tenemos en el momento de la iteracion-->
            <td th:text="${person.getName()}"></td>
            <td th:text="${person.getLastName()}"></td>
            <td th:text="${person.getPhoneNumber()}"></td>
            <td th:text="${person.getEmail()}"></td>
            <!--relizamos un link para que se nos envie hacia el end-point de update, endonde el path que estamos
            enviando lleva el id del objeto persona que estemos recorriendo por cada iteracion del bucle, esto atravez
            de "path param" por ende ponemos al final del path del end-point un / para enviar el id en el mismo path
            atravez de  path param quedando algo similar ah localhost:8080/update/1

            si fuese por query param seria locahost:8080/update?id=1-->
            <th><a th:href="@{/update/} + ${person.getId()}" th:text="Update"/></th>
            <td></td>
        </tr>
    </table>
</div>

<div th:if="${people == null || people.isEmpty()}">
    The list of people is empty...
</div>

</body>
</html>